body {
  font-family: 'Montserrat', sans-serif;
}
#h1 {
  text-align: center;
  margin-top: 250px;
  z-index: 1;
  background-color: rgba(58, 79, 74, 0.2);
  /* border: solid 1px black; */
}

#carousel {
  margin-top: -325px;
  z-index: -1;
}

.nav-link {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 600;
}

#navlogo {
  width: 100%;
}

.navbar.bg-light {
  transition: background-color 1s ease 0s;
}

.nav-item {
  padding: 10px;
}

.navbar-fixed-top {
  top: -70px; /* you'll have to figure out the exact number here */
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative; /* this can also be static */
}


@media only screen and (max-width: 992px) {
  #navlogo {
    width: 75%;
  }
}
