body {
  font-family: 'Montserrat', sans-serif;
}

/* NAVIGATIOn BAR */

.nav-link {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 600;
  color: #dedede;
}

#navlogo {
  width: 100%;
}

/* Transision effect for nav bar
.navbar.bg-light {
  transition: background-color 1s ease 0s;
} */

/* CARUSEL */

.owl-carousel {
  margin-top: 79px;
}

.owl-dots {
  height: 0px;
}

/* BODY SECTIONS */

.about {
  background: #f2f2f2;
  text-align: center;
}

.about h1, h3 {
  text-align: center;
  padding-bottom: 0.5rem;
}

.fleet {
text-align: center;
}

@media only screen and (max-width: 992px) {
  #navlogo {
    width: 75%;
  }
}
