body {
  font-family: 'Montserrat', sans-serif;
}

/* NAVIGATION BAR */

/* #navlogo {
  width: 100%;
} */

.navbar-brand {
  padding: 0;
  margin: 0;
}

.nav-link {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 600;
  color: #dedede;
}

.nav-item i {
  width: auto;
}

.navbar-text {
  padding-left: 15px;
}

.fas.fa-phone {
  /* padding-left: 7rem; */
  font-size: 0.7rem;
  color: #cccccc;
}

#phoneNumber {
  font-family: 'Montserrat', sans-serif;
}

.owl-carousel {
  margin-top: 79px;
}

.owl-dots {
  height: 0px;
}

/* BODY SECTIONS */

.about {
  background: #f2f2f2;
  text-align: center;
}

.about h1, h3 {
  text-align: center;
  padding-bottom: 0.5rem;
}

.fleet {
  text-align: center;
}

.fleet img {
  display: block;
  overflow: auto;
  width: 100%;
}

@media only screen and (max-width: 360px) {
  #navlogo {
    width: 100%;
  }

  .navbar-brand {
    width: 75%;
  }
}

@media only screen and (max-width: 1150px) {
  .navbar-text {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .fleet img {
    padding-bottom: 2rem;
  }
}
